@font-face {
  font-family: 'DecimaNovaProLt';
  src: url('https://osandriets.github.io/technical-task//public/fonts/DecimaNovaProLt.woff2') format('woff2'),
  url('https://osandriets.github.io/technical-task/public/fonts/DecimaNovaProLt.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}


@font-face {
  font-family: 'DecimaNovaPro-Bold';
  src: url('https://osandriets.github.io/technical-task/public/fonts/DecimaPro-Bold.woff2') format('woff2'),
  url('https://osandriets.github.io/technical-task/public/fonts/DecimaPro-Bold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css?family=PT+Serif');
